<p>Seccion de Categorias</p>

<div class="card mt-8">
    <div class="flex w-full justify-content-between mb-2 gap-2">
        <p-floatlabel>
            <input pInputText id="over_label" [(ngModel)]="nombreCategoria"
                (ngModelChange)="nombreCategoria.set($event)" autocomplete="on" class="w-full" />
            <label for="over_label">Nombre Categoria</label>
        </p-floatlabel>
        @if(categoriaId()){
        <p-button label="Actualizar Categoria" icon="pi pi-check" (onClick)="actualizarCategoria()" />
        <p-button label="Cancelar" icon="pi pi-times" severity="danger" (onClick)="cancelar()" />
        }@else {
        <p-button label="Nueva Categoria" icon="pi pi-plus" (onClick)="nuevaCategoria()" />
        }
    </div>
    <p-table [columns]="cols" [value]="categorias()" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-columns>
            <tr>
                @for (col of columns; track col.field) {
                <th>{{ col.header }}</th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                @for (col of columns; track col.field) {
                @if (col.field === 'acciones') {
                <td>
                    <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" label="Editar" severity="info"
                        (onClick)="editar(rowData)" />
                    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" label="Eliminar" severity="danger"
                        (onClick)="eliminar(rowData)" />
                </td>
                } @else {
                <td>{{ rowData[col.field] }}</td>
                }
                }@empty {
                <td [attr.colspan]="cols.length" class="text-center py-4">
                    <p class="text-gray-500">No hay categorías registradas</p>
                </td>
                }
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog />