<p>Productos</p>
<div class="mb-4 flex justify-end">
    <p-button (click)="showDialog()" label="Nuevo Producto" icon="pi pi-plus" />
</div>

<p-dialog [visible]="visible()" (visibleChange)="visible.set($event)" [modal]="true" [style]="{ width: '25rem' }">
    <ng-template #header>
        <h2>{{ isEditing() ? 'Editar Producto' : 'Nuevo Producto' }}</h2>
    </ng-template>
    <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="flex flex-col mb-4">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" pInputText formControlName="nombre" />
                @if (productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched) {
                    <small class="p-error">El nombre es requerido</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="categoria">Categoría</label>
                <p-select 
                    id="categoria" 
                    [options]="categorias()" 
                    optionLabel="nombre"
                    [showClear]="true" 
                    placeholder="Seleccionar una categoría" 
                    formControlName="categoria" />
                @if (productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched) {
                    <small class="p-error">La categoría es requerida</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="unidadMedida">Unidad de Medida</label>
                <p-select 
                    id="unidadMedida" 
                    [options]="unidadMedidas()" 
                    optionLabel="nombre"
                    [showClear]="true" 
                    placeholder="Seleccionar unidad de medida"
                    formControlName="unidadMedida" />
                @if (productoForm.get('unidadMedida')?.hasError('required') && productoForm.get('unidadMedida')?.touched) {
                    <small class="p-error">La unidad de medida es requerida</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="diasLeadTime">Días de Lead Time</label>
                <input id="diasLeadTime" type="number" pInputText formControlName="diasLeadTime" />
                @if (productoForm.get('diasLeadTime')?.hasError('required') && productoForm.get('diasLeadTime')?.touched) {
                    <small class="p-error">Días de lead time requerido</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="costoAdquisicion">Costo de Adquisición</label>
                <input id="costoAdquisicion" type="number" pInputText formControlName="costoAdquisicion" />
                @if (productoForm.get('costoAdquisicion')?.hasError('required') && productoForm.get('costoAdquisicion')?.touched) {
                    <small class="p-error">Costo de adquisición requerido</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="costoMantenimiento">Costo de Mantenimiento</label>
                <input id="costoMantenimiento" type="number" pInputText formControlName="costoMantenimiento" />
                @if (productoForm.get('costoMantenimiento')?.hasError('required') && productoForm.get('costoMantenimiento')?.touched) {
                    <small class="p-error">Costo de mantenimiento requerido</small>
                }
            </div>

            <div class="flex flex-col mb-4">
                <label for="costoPedido">Costo de Pedido</label>
                <input id="costoPedido" type="number" pInputText formControlName="costoPedido" />
                @if (productoForm.get('costoPedido')?.hasError('required') && productoForm.get('costoPedido')?.touched) {
                    <small class="p-error">Costo de pedido requerido</small>
                }
            </div>
        </div>
    </form>

    <ng-template #footer>
        <p-button 
            [label]="isEditing() ? 'Actualizar' : 'Guardar'" 
            icon="pi pi-check" 
            (onClick)="onSubmit()"
            [disabled]="productoForm.invalid" />
        <p-button 
            label="Cancelar" 
            icon="pi pi-times" 
            severity="danger"
            (click)="closeDialog()" />
    </ng-template>
</p-dialog>

<p-table [columns]="cols" [value]="productos()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header let-columns>
        <tr>
            @for (col of columns; track col.field) {
                <th>{{ col.header }}</th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr>
            @for (col of columns; track col.field) {
                @if (col.field === 'acciones') {
                    <td>
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" label="Editar" severity="info" (onClick)="editar(rowData)" />
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" label="Eliminar" severity="danger" (onClick)="eliminar(rowData)" />
                    </td>
                } @else if (col.field === 'categoria') {
                    <td>{{ rowData.categoria.nombre }}</td>
                } @else if (col.field === 'unidadMedida') {
                    <td>{{ rowData.unidadMedida.nombre }}</td>
                } @else {
                    <td>{{ rowData[col.field] }}</td>
                }
            }@empty {
                <td [attr.colspan]="cols.length" class="text-center py-4">
                    <p class="text-gray-500">No hay productos registrados</p>
                </td>
            }
        </tr>
    </ng-template>
</p-table>
<p-confirmDialog />